* {
    padding: 0;
    margin: 0;
}

body
{
    background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg);
    background-size: cover;
    font-family: "multi", sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
}
#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.container
{
    width: 100%;
    Margin: 40px auto 0;
    background-color: rgba(255, 255, 255, 0.521);
    flood-opacity: 0fr;
    color: black;
    padding: 50px;
    border: solid;
    border-color: black;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.footer {
    position: fixed;
    width: 100%;
   bottom: 0;
    text-align: center;
}
.form-group
{
    padding: 20px;
}